.slider-container{
  position: absolute;
  z-index: 30;
  width: 100vw;
  height: 100vh;
}
.katalog-container{
  position: absolute;
  width: 100%;
  bottom: 40px;
  z-index: 55;
}
.sosyal-container{
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 55;
}
