
<div class="slider-container">
  <app-slider></app-slider>
</div>
<div class="katalog-container">
  <app-katalog></app-katalog>
</div>
<div class="sosyal-container">
  <app-sosyal></app-sosyal>
</div>

<!--<div class="container-fluid">-->
  <!--<div class="row">-->
    <!--<div class="container main-container col-md-12 px-md-5 px-sm-3" [ngStyle]="{'background-color': routeIsActive('/main') ? '' : '#afafaf61'}" [ngClass]="lightStatus ? 'main-container' : 'main-container-dark'">-->
        <!--<div class="row">-->
            <!--<div class="container-fluid px-md-5 px-sm-3">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                      <!--&lt;!&ndash; logo &ndash;&gt;-->

                    <!--</div>-->
                  <!--&lt;!&ndash; navbarlink &ndash;&gt;-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->




