<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Yönetim Paneli</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
        <ul class="navbar-nav mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/panel/hakkimizda" tabindex="-1" aria-disabled="true">Hakkımızda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/panel/slider" tabindex="-1" aria-disabled="true">Slider</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/panel/urunler" tabindex="-1" aria-disabled="true">Ürünler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/panel/markalar" tabindex="-1" aria-disabled="true">Markalar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/panel/galeri" tabindex="-1" aria-disabled="true">Galeri</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" (click)="logout()"  tabindex="-1" aria-disabled="true">Çıkış</a>
          </li>
        </ul>
      </div>
    </nav>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


