<div class="container-fluid">
  <div class="row m-3">
    <h2 class="">Slider</h2>
  </div>
  <div class="row m-5">
    <div class="col-md-5">
      <h3>Yeni Kayıt</h3>
      <hr>
      <form [formGroup]="sliderForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleFormControlInput1">Slider Üst Metin</label>
          <input formControlName="sliderText1"  class="form-control" id="exampleFormControlInput1"/>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput2">Slider Alt Metin</label>
          <input formControlName="sliderText2" class="form-control" id="exampleFormControlInput2"/>
        </div>
        <div class="form-group">
          <label>Slider Resim</label>
          <app-file-upload></app-file-upload>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Aktif / Pasif</label>
          <select formControlName="active" class="form-control" id="exampleFormControlSelect1">
            <option value="1">Aktif</option>
            <option value="0">Pasif</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea4">Sira</label>
          <input formControlName="sira" class="form-control" id="exampleFormControlTextarea4"/>
        </div>
        <button type="submit" *ngIf="this.selectedSlider.id==null" class="btn btn-primary btn-block mb-2">Kaydet</button>
        <button type="submit" *ngIf="this.selectedSlider.id!=null" class="btn btn-primary btn-block mb-2">Güncelle</button>
      </form>

    </div>
    <div class="col-md-7">
      <h3>Mevcut Kayıtlar</h3>
      <hr>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between" [ngClass]="{'active': this.selectedSlider.id == slider.id}" *ngFor="let slider of sliders">
          <div>
            <div class="row">
              <div class="col-md-3">
                <label>Slider Resim</label>
                <img src="{{slider.sliderimg}}"/>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <label>Slider Üst Metin</label>
                  <span>{{slider.sliderText1}}</span>
                </div>
                <div class="row">
                  <label>Slider Alt Metin</label>
                  <span>{{slider.sliderText2}}</span>
                </div>
                <div class="row">
                  <span>{{slider.active}}</span>
                  <span>{{slider.sira}}</span>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-sm btn-info mx-1" (click)="selected(slider)">Düzenle</button>
            <button class="btn btn-sm btn-danger mx-1" (click)="delete(slider.id)">Sil</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
