<div class="urunler">
  <h5>Ürünlerimiz</h5>
  <div class="row">
    <div class="urunlerMenu col-md-3">
      <div class="list-group list-group-flush" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center"
           id="list-home-list"
           data-toggle="list"
           href="#list-home"
           role="tab"
           aria-controls="home">
          Kamp Çadırı
          <i class="fa fa-angle-right fa-lg"></i>
        </a>
        <a class="list-group-item list-group-item-action"
           id="list-profile-list"
           data-toggle="list"
           href="#list-profile"
           role="tab"
           aria-controls="profile">Şezlong</a>
        <a class="list-group-item list-group-item-action"
           id="list-messages-list"
           data-toggle="list"
           href="#list-messages"
           role="tab"
           aria-controls="messages">Pazar Çadırı</a>
        <a class="list-group-item list-group-item-action"
           id="list-settings-list"
           data-toggle="list"
           href="#list-settings"
           role="tab"
           aria-controls="settings">1100 PVC</a>
      </div>
    </div>
    <div class="urunlerDetay col-md-9">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
          <h6>Kamp Çadırları</h6>
            <div class="urunContainer">
              <figure>
                <div class="urunBox">
                    <a href="#" type="button"  data-toggle="modal" data-target="#exampleModalCenter">
                      <img src="../../assets/img/logo_sunbrella.jpg" alt="sunberella"/>
                    </a>
                  <figcaption>
                    <span>Fig.1 - Trulli, Puglia, Italy.</span>
                  </figcaption>
                </div>
              </figure>
              <div class="urunBox">
                <a href="">
                  <img src="../../assets/img/logo_sunbrella.jpg" alt="sunberella"/>
                </a>
              </div>
              <div class="urunBox">
                <a href="">
                  <img src="../../assets/img/logo_sunbrella.jpg" alt="sunberella"/>
                </a>
              </div>
              <div class="urunBox">
                <a href="">
                  <img src="../../assets/img/logo_sunbrella.jpg" alt="sunberella"/>
                </a>
              </div>
              <div class="urunBox">
                <a href="">
                  <img src="../../assets/img/logo_sunbrella.jpg" alt="sunberella"/>
                </a>
              </div>
              <div class="urunBox">
                <a href="">
                  <img src="../../assets/img/logo_sunbrella.jpg" alt="sunberella"/>
                </a>
              </div>
              <div class="urunBox">
                <a href="">
                  <img src="../../assets/img/logo_sunbrella.jpg" alt="sunberella"/>
                </a>
              </div>
            </div>
        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Şezlong.</div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Pazar Çadırı</div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">1100 PVC</div>
      </div>
    </div>
  </div>
</div>
