.urunler{
  position: absolute;
  width: 100%;
  top:230px;
  z-index: 30;
  padding: 50px;
  .urunlerMain{
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    color: black;
    border: 1px solid #c78604;
    background-color: rgba(255, 255, 255, 0.71);
    h5{
      border-bottom: 1px solid #ffc107;
      padding-bottom: 10px;
      margin-bottom: 30px;
    }
    h6{
      border-bottom: 1px solid #ffc107;
      padding-bottom: 10px;
      margin-bottom: 30px;
    }
    .row{
      label{
        color: #495057;
      }
      span{
        margin-left: 30px;
      }
    }
    .urun-detay{
      .img-thumbnail{
        height: 300px;
      }
    }
    .urun-adı{
      margin: 30px 0;
      border-bottom: 1px solid #c78604;
    }
    .urun-aciklama{
      margin: 20px 0;
      border-bottom: 1px solid #c78604;
    }
    .urun-resim{
      margin: 20px 0;
      border-bottom: 1px solid #c78604;
    }
    .urunContainer{
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
      justify-content:flex-start;
      figure{
        margin-right: 20px;
        &:last-child{
          margin: 0;
        }
        .urunBox{
          border-radius: 10px;
          padding: 10px 20px;
          background-color: white;
          margin-bottom: 20px;
          border: 1px solid #c78604;
          figcaption{
            border-top: 1px solid #ffc107;
            margin-top: 20px;
          }
          a{
            display:flex;
            align-items: stretch;
            width: 200px;
            height: 150px;
            overflow: hidden;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow:    none;
            img{
              width: 100%;
            }
            span{
              width: 100%;
            }
          }
          &:hover{
            opacity: 0.8;
          }

        }
      }
    }
  }
}
@media  (max-width: 767px) {
  .urunler{
    padding: 20px;
    .urunContainer{
      justify-content:center;
      figure {
        margin: 0;
      }
    }
    .urun-detay{
      .img-thumbnail{
        height: auto;
      }
    }
    .kat-mobile{
      margin-bottom: 20px;
    }
  }
}
.urunlerPic{
  position: absolute;
  z-index: 30;
  img{
    width: 100%;
  }
}
@media  (max-width: 767px) {
  .urunler{
    top:100px;
    padding: 15px;
  }
  .urunlerPic{
    display: none;
  }
}
