#logincontainer{
  position: absolute;
  width: 100%;
  background-color: #e0dfdf;
  z-index: 60;
  .container{
    .row{
      margin: 20px 0;
      justify-content: center;
      h3{
        width: 100%;
        margin: 20px 0;
        text-align: center;
        span{
          font-size: 10px;
        }
      }
      .modal{
        position: relative;
      }
    }
  }
}
