.aboutUs{
  position: absolute;
  top:230px;
  z-index: 30;
  padding: 50px;
  .about-container{
    border-radius: 10px;
    color: black;
    padding: 30px;
    border: 1px solid #c78604;
    background-color: rgba(255, 255, 255, 0.71);
    h5{
      border-bottom: 1px solid #ffc107;
      padding-bottom: 10px;
    }
  }
}
.aboutUsPic{
  position: absolute;
  z-index: 30;
  img{
    width: 100%;
  }
}

@media  (max-width: 767px) {
  .aboutUs{
    top:100px;
    padding: 15px;
  }
  .aboutUsPic{
    display: none;
  }
}
