<div class="aboutUs">
 <h5>Hakkımızda</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, beatae, eius enim et eum eveniet harum inventore ipsum nam omnis qui quia quidem quisquam quos sapiente sint tempore veritatis vero?
  </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque consequatur culpa cupiditate deserunt doloremque eaque, eos molestiae repudiandae. A aperiam corporis cum exercitationem fuga ipsum libero minima obcaecati voluptas.
  </p>
  <h5>Misyonumuz</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque consequatur culpa cupiditate deserunt doloremque eaque, eos molestiae repudiandae. A aperiam corporis cum exercitationem fuga ipsum libero minima obcaecati voluptas.
  </p>
  <h5>Vizyonumuz</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque consequatur culpa cupiditate deserunt doloremque eaque, eos molestiae repudiandae. A aperiam corporis cum exercitationem fuga ipsum libero minima obcaecati voluptas.
  </p>
</div>
