<div class="marka">
  <h5>Markalar</h5>
  <div class="markaContainer">
    <div class="markaBox">
        <img src="../../assets/img/logo_sunbrella.jpg" alt="sunberella"/>
    </div>
    <div class="markaBox">
        <img src="../../assets/img/logo_Dickson.png" alt="sunberella"/>
    </div>
    <div class="markaBox">
        <img src="../../assets/img/logo_sunbrella.jpg" alt="sunberella"/>
    </div>
    <div class="markaBox">
        <img src="../../assets/img/logo_sunbrella.jpg" alt="sunberella"/>
    </div>
    <div class="markaBox">
        <img src="../../assets/img/logo_sunbrella.jpg" alt="sunberella"/>
    </div>
    <div class="markaBox">
        <img src="../../assets/img/logo_sunbrella.jpg" alt="sunberella"/>
    </div>
    <div class="markaBox">
        <img src="../../assets/img/logo_sunbrella.jpg" alt="sunberella"/>
    </div>
  </div>
</div>
