<div class="markaPic">
  <img src="../../assets/img/marka.png" alt="">
</div>
<div class="marka">
  <div class="markaMain">
    <h5>Referanslar</h5>
    <div class="markaContainer">
      <div class="urunBoxCont" *ngFor="let mar of markalar">
        <div class="markaBox">
          <a  data-toggle="modal" data-target="#exampleModalCenter">
            <img src="{{mar.markaPic}}" class="img-fluid" alt="{{mar.markaText}}"/>
          </a>
          <div class="urunBoxText">
            <span>{{mar.markaText}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
