<div class="dropdown sosyal-dropdown">
  <button class="btn btn-link dropdown-toggle sosial-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-users" aria-hidden="true"></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item sosial d-block d-sm-none" href="tel:+905323727860">
      <i class="fa fa-phone" aria-hidden="true"></i>
    </a>
    <a class="dropdown-item sosial" href="mailto:info@ozaribranda.com">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </a>
    <a class="dropdown-item sosial d-block d-sm-none" href="https://api.whatsapp.com/send?phone=905323727860">
      <i class="fa fa-whatsapp  text-success" aria-hidden="true"></i>
    </a>
    <a class="dropdown-item sosial" href="https://www.instagram.com/ozaribranda/">
      <i class="fa fa-instagram sosyal-instagram" aria-hidden="true"></i>
    </a>
    <a class="dropdown-item sosial" href="https://mobile.twitter.com/ozaribranda">
      <i class="fa fa-twitter text-primary" aria-hidden="true"></i>
    </a>
    <a class="dropdown-item sosial" href="https://www.youtube.com/channel/UC6G7A-PgGW6GQhcZ7QnpU-g">
      <i class="fa fa-youtube-play  text-danger" aria-hidden="true"></i>
    </a>
  </div>
</div>
