.sosyal-dropdown{
  left: 30px;
  bottom: 20px;
  .dropdown-menu{
    border: none;
    background: transparent;
    min-width: 0;
    width: 40px;
  }
  .sosial{
    margin-bottom: 5px;
    border-radius: 25px;
    height: 50px;
    display: flex !important;
    border: 1px solid #c78604;
    justify-content: center;
    align-items: center;
    background: #c78604;
    color: white;
    .sosyal-instagram{
      color: #d6249f;
    }
    i{
      font-size: 22px;
      color: white;
    }
    &:hover{
      background: white;
      i{
        color: #c78604 !important;
      }
    }
  }
  .sosial-btn{
    border-radius: 25px;
    background: #c78604;
    border: 1px solid #c78604;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    &::after{
      display: none;
    }
    i{
      font-size: 16px;
    }
    &:hover{
      background: white;
      color:#c78604;
    }
  }
}
