.nav-container{
  position: relative;
  right: 50px;
  .navbar{
    float: right;
    border: 1px solid #c78604;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.44);
    .navbar-nav{
      width: 100%;
      justify-content: space-around;
      .nav-link{
        padding: 5px 30px;
        color: black;
        &:hover {
          color:#c78604;
        }
      }
      .active a{
        color:#c78604;
      }
    }

  }
}
