<div class="container-fluid">
  <div class="row m-3">
    <h2 class="">Markalar</h2>
  </div>
  <div class="row m-5">
    <div class="col-md-5">
      <h3>Yeni Kayıt</h3>
      <hr>
      <form [formGroup]="markaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleFormControlInput1">Marka Adı</label>
          <input formControlName="markaText"  class="form-control" id="exampleFormControlInput1"/>
        </div>
        <div class="form-group">
          <label>Marka Resim</label>
          <app-file-upload formControlName="markaPic"></app-file-upload>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Aktif / Pasif</label>
          <select formControlName="active" class="form-control" id="exampleFormControlSelect1">
            <option value="1">Aktif</option>
            <option value="0">Pasif</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea4">Sira</label>
          <input formControlName="sira" class="form-control" id="exampleFormControlTextarea4"/>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-2">Kaydet</button>
      </form>

    </div>
    <div class="col-md-7">
      <h3>Mevcut Kayıtlar</h3>
      <hr>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between" *ngFor="let mar of markalar">
          <div>
            <span>{{mar.markaText}}</span>
            <span>{{mar.markaPic}}</span>
            <span>{{mar.active}}</span>
            <span>{{mar.sira}}</span>
          </div>
          <div>
            <button class="btn btn-sm btn-primary mx-1">Düzenle</button>
            <button class="btn btn-sm btn-info mx-1">Sil</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
