<div class="anasayfa">
  <div class="pdf-container">
    <a href="../../assets/pdf/ekatalog.pdf"
       target="_blank"
       data-toggle="tooltip"
       data-placement="top"
       title="Özarı Branda Kataloğu">
      <div class="pdf-text">
        <span>Özarı Branda Ürün Kataloğu</span>
      </div>
      <div class="pdf-icon">
        <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
      </div>
    </a>
  </div>
  <div class="pdf-container dick-back-img">
    <a href="../../assets/pdf/DicksonKatalog.pdf"
       target="_blank"
       data-toggle="tooltip"
       data-placement="top"
       title="Dickson Ürün Kataloğu">
      <div class="pdf-text">
        <span>Dickson Ürün Kataloğu</span>
      </div>
      <div class="pdf-icon">
        <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
      </div>
    </a>
  </div>
  <div class="pdf-container sub-back-img">
    <a href="../../assets/pdf/SUNBRELLA.pdf"
       target="_blank"
       data-toggle="tooltip"
       data-placement="top"
       title="Sunbrella Ürün Kataloğu">
      <div class="pdf-text">
        <span>Sunbrella Ürün Kataloğu</span>
      </div>
      <div class="pdf-icon">
        <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
      </div>
    </a>
  </div>
</div>
