.galeri{
  position: absolute;
  width: 100%;
  top:230px;
  z-index: 30;
  padding: 50px;
  .galeriMain{
    border-radius: 10px;
    padding: 30px;
    color: black;
    border: 1px solid #c78604;
    background-color: rgba(255, 255, 255, 0.71);
    h5{
      border-bottom: 1px solid #ffc107;
      padding-bottom: 10px;
      margin-bottom: 30px;
    }
    .galeriContainer{
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
      justify-content:flex-start;
      figure{
        margin-right: 20px;
        &:last-child{
          margin: 0;
        }
        .galeriBox{
          border-radius: 20px;
          padding: 10px 20px;
          background-color: white;
          margin-bottom: 20px;
          border: 1px solid #c78604;
          figcaption{
            margin-top: 20px;
            border-top: 1px solid #ffc107;
            span{
              margin-left: 30px;
            }
          }
          a{
            display:flex;
            align-items: stretch;
            width: 200px;
            height: 150px;
            overflow: hidden;
            img{
              width: 100%;
            }
          }
          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
    @media  (max-width: 767px) {
      .galeriContainer{
        justify-content:center;
        figure {
          margin: 0;
        }
      }
    }
  }
}
.modal{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  .modal-header{
   justify-content: flex-end;
 }
  .img-fluid{
    max-height: 600px;
  }
  @media  (max-width: 767px) {
    .img-fluid{
      max-height: 300px;
    }
  }
}
.galeriPic{
  position: absolute;
  z-index: 30;
  img{
    width: 100%;
  }
}
@media  (max-width: 767px) {
  .galeri{
    top:100px;
    padding: 15px;
  }
  .galeriPic{
    display: none;
  }
}
