<div class="container-fluid">
  <div class="row m-3">
    <h2 class="">Ürünler</h2>
  </div>
  <div class="row m-5">
    <div class="col-md-5">
      <h3>Yeni Kayıt</h3>
      <hr>
      <form [formGroup]="urunlerForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Ürün Kategori</label>
          <select formControlName="katid" class="form-control" id="exampleFormControlSelect1" required="">
            <option value="{{kat.id}}" *ngFor="let kat of kategoriler">{{kat.kategoriAdi}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Ürün Adı</label>
          <input formControlName="urunAdi"  class="form-control" id="exampleFormControlInput1" required=""/>
        </div>
        <div class="form-group">
          <label>Ürün Resim</label>
          <app-file-upload  (fileUrl)="getFileUrl($event)"></app-file-upload>
        </div>
        <div class="form-group">
          <label>Ürün Resim</label>
          <app-file-upload  (fileUrl)="getFileUrl($event)"></app-file-upload>
        </div>
        <div class="form-group">
          <label>Ürün Resim</label>
          <app-file-upload  (fileUrl)="getFileUrl($event)"></app-file-upload>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea3">Ürün Detay</label>
          <ejs-richtexteditor formControlName="urunDetay" id="exampleFormControlTextarea3"></ejs-richtexteditor>
          <!--<textarea formControlName="urunDetay" class="form-control" id="exampleFormControlTextarea3" rows="3" required=""></textarea>-->
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Aktif / Pasif</label>
          <select formControlName="active" class="form-control" id="exampleFormControlSelect2" required="">
            <option value="1">Aktif</option>
            <option value="0">Pasif</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea4">Sira</label>
          <input formControlName="sira" class="form-control" id="exampleFormControlTextarea4" required=""/>
        </div>
        <button type="submit" *ngIf="this.selectedUrun.id==null" [disabled]="!urunlerForm.valid" class="btn btn-primary btn-block mb-2">Kaydet</button>
        <button type="submit" *ngIf="this.selectedUrun.id!=null" [disabled]="!urunlerForm.valid" class="btn btn-primary btn-block mb-2">Güncelle</button>
      </form>

    </div>
    <div class="col-md-7">
      <h3>Mevcut Kayıtlar</h3>
      <hr>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between" [ngClass]="{'active': this.selectedUrun.id == urun.id}"  *ngFor="let urun of urunler">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img class="img-thumbnail" src="{{urun.urunPic1}}"/>
                <img class="img-thumbnail" src="{{urun.urunPic2}}"/>
                <img class="img-thumbnail" src="{{urun.urunPic3}}"/>
              </div>
              <div class="col-md-6 d-flex justify-content-end align-items-center">
                <button class="btn btn-sm btn-info mx-1" (click)="selected(urun)">Düzenle</button>
                <button class="btn btn-sm btn-danger mx-1" (click)="delete(urun.id)">Sil</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <label><b>Ürün Adı</b> : </label>
                  <span>{{urun.urunAdi}}</span>
                </div>
                <div class="row">
                  <label><b>Ürün Detay</b> : </label>
                  <span [innerHTML]="urun.urunDetay"></span>
                </div>
                <div class="row">
                  <label><b>Active / Pasive</b> :</label>
                  <span>{{urun.active == 1 ? 'active' : 'pasive'}}</span>
                </div>
                <div class="row">
                  <label><b>Sira</b> :</label>
                  <span>{{urun.sira}}</span>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

