<div class="container-fluid">
  <div class="row m-5">
    <div class="col-md-5">
      <form [formGroup]="aboutForm" (ngSubmit)="onSubmit()">
        <h3>Yeni Kayıt</h3>
        <hr>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Hakkımızda</label>
          <textarea formControlName="hakimizda" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea2">Vizyonumuz</label>
          <textarea formControlName="vizyonumuz" class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea3">Misyonumuz</label>
          <textarea formControlName="misyonumuz" class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Aktif / Pasif</label>
          <select formControlName="aktif" class="form-control" id="exampleFormControlSelect1">
            <option value="1">Aktif</option>
            <option value="0">Pasif</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea4">Sira</label>
          <input formControlName="sira" class="form-control" id="exampleFormControlTextarea4"/>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-2">Kaydet</button>
      </form>

    </div>
    <div class="col-md-7">
      <h3>Mevcut Kayıtlar</h3>
      <hr>
      <ul class="list-group mt-5">
        <li class="list-group-item d-flex justify-content-between" *ngFor="let about of abouts">
          <div>
            <span>{{about.hakimizdaText}}</span>
            <span>{{about.misyonText}}</span>
            <span>{{about.vizyonText}}</span>
          </div>
          <div>
            <button class="btn btn-sm btn-primary mx-1">Düzenle</button>
            <button class="btn btn-sm btn-info mx-1">Sil</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
